{% extends 'base.html' %}
{% block title %}Login - CPM Nuker{% endblock %}

{% block content %}
  <h1>Login</h1>
  <form action="{{ url_for('login') }}" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
{% endblock %}
